In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import User

C:\Users\santo\anaconda3\envs\MunchFree\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_excel('../data/raw_data.xlsx')
df.head()

,Unnamed: 0,food_name,category,description,package_weight_unit,serving_size_full,serving_size_unit,protein_val,protein_unit_name,protein_percent_daily,...,niacin_percent_daily,folic acid_val,folic acid_unit_name,folic acid_percent_daily,folate total_val,folate total_unit_name,folate total_percent_daily,folate food_val,folate food_unit_name,folate food_percent_daily
0,0,coke,Soda,original taste coke,48 FL OZ/1.42 L,237.0,ml,0.0,G,0,...,0,0,NaN,0,0,NaN,0,0,NaN,0
1,1,coke,Soda,"coke with lime flavor, lime",NaN,240.0,ml,0.0,G,0,...,0,0,NaN,0,0,NaN,0,0,NaN,0
2,2,coke,Soda,"coke with lime flavor, lime",NaN,355.0,ml,0.0,G,0,...,0,0,NaN,0,0,NaN,0,0,NaN,0
3,3,diet coke,Soda,"diet coke, diet soft drink, cola, cola",8.5 fl oz/251 mL,251.0,ml,0.0,G,0,...,0,0,NaN,0,0,NaN,0,0,NaN,0
4,4,diet coke,Non Alcoholic Beverages Ready to Drink,"diet coke bottle, 1.25 liters",NaN,360.0,ml,0.0,G,0,...,0,0,NaN,0,0,NaN,0,0,NaN,0

In [3]:
df = df[['food_name','protein_val','fat_val', 'carbs_val', 'sugar_val', 'caffeine_val', 'calcium_val', 'iron_val', 'sodium_val', 'cholesterol_val']]
df.head()

,food_name,protein_val,fat_val,carbs_val,sugar_val,caffeine_val,calcium_val,iron_val,sodium_val,cholesterol_val
0,coke,0.0,0.0,11.0,11.0,0,0,0.0,13,0
1,coke,0.0,0.0,11.2,10.8,0,0,0.0,10,0
2,coke,0.0,0.0,11.0,11.0,0,0,0.0,10,0
3,diet coke,0.0,0.0,0.0,0.0,0,0,0.0,12,0
4,diet coke,0.0,0.0,0.0,0.0,13,0,0.0,11,0

In [4]:
df = df.drop_duplicates(subset=['food_name'], keep='first')
df.head()

,food_name,protein_val,fat_val,carbs_val,sugar_val,caffeine_val,calcium_val,iron_val,sodium_val,cholesterol_val
0,coke,0.00,0.0,11.00,11.00,0,0,0.00,13,0
3,diet coke,0.00,0.0,0.00,0.00,0,0,0.00,12,0
6,fanta,0.00,0.0,6.90,6.90,0,0,0.00,0,0
9,ginger ale,0.00,0.0,9.86,9.86,0,0,0.00,10,0
12,red bull,0.46,0.0,10.20,10.20,29,6,0.06,39,0

In [5]:
df.to_csv("../data/clean_data.csv")

In [ ]:
df = pd.DataFrame(
    {"username": [], 'protein_val': [], "fat_val": [], 'carbs_val': [], 'sugar_val': [], 'caffeine_val': [],
     'calcium_val': [], 'iron_val': [], 'sodium_val': [], 'cholesterol_val': []})
df.to_csv("../data/users.csv")
df.head()